.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.text-content {
  flex: 1;
  min-width: 300px;
}

.text-content h1 {

  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -0.01em;
  text-align: left;
  max-width: 400px;

}

.text-content p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 550px;
}

.text-content button {
  background: var(--Primary-Cyan-primary, rgba(20, 184, 166, 1));
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.image-content {
  flex: 1;
  min-width: 300px;
}

.image-content img {
  width: 100%;
  border-radius: 8px;
}

.guide-section {

  padding: 40px 20px;
}

.guide-section h2 {
  text-align: center;
  margin-bottom: 50px;

  font-family: Inter;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.guide-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0 auto;
}

.guide-item {

  flex: 1;
  min-width: 300px;
}

.guide-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.guide-item p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 330px;
}

.video img {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 70px;
}

.stvimgct img {
  width: 100%;
}

.imgstvft img {
  margin-bottom: 0px;
  max-width: 895px;
  width: 100%;
}

@media (max-width: 768px) {
  .guide-section h2 {


font-family: Inter;
font-size: 34px;
font-weight: 600;
line-height: 46px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }
  .video img {
    margin-bottom: 32px;
  }

 
  .content-wrapper {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;

  }

  .imgstvftimg {
    margin-bottom: 40px !important;

  }

  .text-content {
    text-align: center;
  }

  .text-content h1 {
    font-size: 34px;
    line-height: 46px;
    font-weight: 600;
  }

  .text-content p {
    font-size: 15px;
  }

  .image-content {
    order: -1;
  }

  .guide-content {
    gap: 20px;
  }
}