.method-div{
   max-width: 1920px;
  margin: 0 auto;
  align-items: center;
  text-align: center ;

}
.method-title {
  background-color: #f9d64a;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  margin-bottom: 40px;
 
}

.method-title h1 {

  font-weight: 600;
  color: #333;
  letter-spacing: 8px;
}
.method-div p{
 font-size: 21px;
}