.bgrslf {
  background: var(--REF-Primary-100, rgba(232, 248, 246, 1));
  text-align: center;

}

.textslf h2 {
  padding-top: 70px;
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.textslf p {
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Sys-On-surface-on-surface-variant-high, rgba(76, 81, 90, 1));


}

.imgslf img {
  max-width: 1006.99px;
  width: 100%;
  margin-bottom: 70px;
}

.textslf {
  text-align: center;
}

.centelslf li {

  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}

.centelslf {
  padding-left: 70px;
  max-width: 1198px;
  text-align: left;
}

.textslfimg {
  max-width: 1128px;
  width: 100%;
  padding-bottom: 70px;
}



.obj-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.obj-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.obj-text {
  flex: 1;
  margin-left: 32px;
  padding-right: 20px;
  text-align: left;
}

.obj-image {
  flex: 1;
  /* Chiếm 50% chiều rộng */
  display: flex;
  justify-content: center;
  /* Căn giữa ảnh trong khối */
}

.obj-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  /* Bo góc ảnh */
}

h3 {
  font-size: 24px;
  color: #141818;
  margin-bottom: 16px;
}


ul {
  font-size: 16px;
  line-height: 1.6;
  color: #4c515a;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  text-align: justify;
}

@media (max-width: 1200px) {
  .centelslf {
    padding-left: 0px;
  }


}

@media (max-width: 768px) {
  .obj-row {
    flex-direction: column;
    text-align: center;
  }

  .obj-text {
    padding-right: 0;
    margin-left: 0px !important;
  }

  .obj-text h3 {

    float: left;
    padding-right: 0;
    font-size: 24;
  }

  .obj-text p {
    color: var(--Sys-On-surface-on-surface-variant-high, rgba(76, 81, 90, 1));
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }

  .obj-image {
    margin-bottom: 20px;
  }
}